# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vs/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.db
*.db-wal
*.db-shm

# The software's secure file extension (PasswordKeeper Data File)
*.pkd
/src/assets/css/devextreme
/src/assets/css/fontawesome-free-6.4.0-web
/.vs/PasswordKeeper/FileContentIndex
